certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
fake-useragent==2.0.3
idna==3.10
Naked==0.1.32
pyaes==1.6.1
pyasn1==0.6.1
pycparser==2.22
pycryptodome==3.21.0
PyYAML==6.0.2
requests==2.32.3
rsa==4.9
shellescape==3.8.1
Telethon==1.38.1
urllib3==2.3.0
